:root {
    /*## Primary*/
    /*
    - Lineargradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    - Red (input-errors): hsl(0, 100%, 66%)
    */
/*### Neutral*/

--White: hsl(0, 0%, 100%);
--Light-grayish-violet: hsl(270, 3%, 87%);
--Dark-grayish-violet: hsl(279, 6%, 55%);
--Very-dark-violet: hsl(278, 68%, 11%);

}

* {
    margin: 0; padding: 0;
}

body{
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
    padding: 10px;
    
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.formulary {
    margin-right: 20rem ;
    
    display: flex;
    justify-content: center;
    
}
form {
    width: fit-content;
    display: grid;
}
form input {
    margin: 0 0 1rem 0;
    font-size: 15pt;
    line-height: 3rem;
    border-radius: 10px;
    padding: 0 1rem;
}

.security{
    display: flex;
}
.box-inM-Y {
    display: flex;
}
.inM-Y{
    margin-right: .5rem;
    width: 5.5rem;
}

.submit{
    background-color: var(--Very-dark-violet);
    color: var(--White);
}
.information {
    display: none;
    
}
.card {
    position: absolute;
    top: 25%;
    margin-left: 10rem ;
}

.front-card{
    background-image: url("/images/bg-card-front.png");
    padding: 0 1rem;
    padding-top: 1.5rem;
    width: 26rem;
    padding-bottom: 1.8rem ;
    
}
.cicles{
    display: flex;
    align-items: center;
}
.circle-primary {
    margin-right: 1rem;
    background-color: var(--White);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}
.circle-secundary {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 1px solid white;
}
.number-card{
    text-align: center;
    font-size: 22pt;
}
.data-card {
    color: var(--White);
    padding-top: 4.5rem ;
    flex-wrap: wrap;
    line-height: 2rem;
}
.client-card{
    padding-top: 1rem ;
    display: flex;
    justify-content: space-between ;
}

.verso-card {
    margin: 1rem 0 0 5rem;
    background-image: url("/images/bg-card-back.png") ;
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
}
.code {
    padding: 7rem 3.5rem 0 0;
    text-align: end;
    color: var(--White);
}

@media (max-width: 1200px)  {
    body{
        padding: 0;
    }
    main {
        flex-wrap: wrap;
    }
    
    .main-mobile {
        width: 100%;
    }
    .card {
        position: absolute;
        margin: 0;
        top: 10%;
    }
    .front-card{
        margin: 0;
        max-width: 70%;
    }
    .verso-card {max-width: 80%;
        margin: 1rem 0 0 0;
    }
    .formulary{
        margin-top: 5rem;
        width: 100%;
    }
}
